<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         version="3.0">
    <servlet>
        <servlet-name>StartServlet</servlet-name>
        <servlet-class>org.example.quest.StartServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>StartServlet</servlet-name>
        <url-pattern>/start</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GameServlet</servlet-name>
        <servlet-class>org.example.quest.GameServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>GameServlet</servlet-name>
        <url-pattern>/game</url-pattern>
    </servlet-mapping>
</web-app>
